<div class="profile-container">
  <!-- Profile Header -->
  <div class="profile-header">
    <div class="profile-picture">
      <img src="/profile.png" alt="Profile Picture" />
    </div>
    <p>{{ user.firstname }} {{ user.lastname }}'s Profile</p>
  </div>

  <!-- Profile Details -->
  <div class="profile-details">
    <p><strong>Email:</strong> {{ user.email }}</p>
    <p><strong>Phone Number:</strong> {{ user.phoneNumber }}</p>
    <p><strong>Age:</strong> {{ user.age }}</p>
    <p><strong>Gender:</strong> {{ user.gender }}</p>
    <p><strong>Account Created:</strong> {{ user.createdAt }}</p>
  </div>

  <!-- Profile Actions -->
<!-- Profile Actions -->
<div>
    <button class="btn btn-edit" (click)="openEditModal()">Edit Profile</button>
    <button class="btn btn-delete" (click)="openDeleteConfirmation()">Delete Account</button>
</div>
  
 <!-- Modal for Deleting Account Confirmation -->
<div class="modal" [ngClass]="{'open': isDeleteModalOpen}">
  <div class="modal-content">
    <span class="close" (click)="closeDeleteModal()">&times;</span>
    <h2>Are you sure you want to delete your account?</h2>
    <p>This action is irreversible!</p>

    <form (ngSubmit)="deleteAccount()">
      <label for="email">Email:</label>
      <input id="email" type="email" [(ngModel)]="email" name="email" required />

      <label for="password">Password:</label>
      <input id="password" type="password" [(ngModel)]="password" name="password" required />

      <button type="submit">Confirm Deletion</button>
    </form>
  </div>
</div>


  <!-- Modal for Editing Profile -->
  <div class="modal" [ngClass]="{ 'open': isModalOpen }">

    <div class="modal-content">
      <span class="close" (click)="closeEditModal()">&times;</span>
      <h2>Edit Profile</h2>
      <form (ngSubmit)="saveChanges()">
        <label for="firstname">First Name:</label>
        <input id="firstname" [(ngModel)]="user.firstname" name="firstname" required />

        <label for="lastname">Last Name:</label>
        <input id="lastname" [(ngModel)]="user.lastname" name="lastname" required />

        <label for="phoneNumber">Phone Number:</label>
        <input id="phoneNumber" [(ngModel)]="user.phoneNumber" name="phoneNumber" required />

        <label for="age">Age:</label>
        <input id="age" type="number" [(ngModel)]="user.age" name="age" required />

        <label for="gender">Gender:</label>
        <select id="gender" [(ngModel)]="user.gender" name="gender" required>
          <option value="MALE">Male</option>
          <option value="FEMALE">Female</option>
        </select>

        <button type="submit">Save Changes</button>
      </form>
    </div>
  </div>
</div>
