.sidebar {
  border-radius: 0px 10px 10px 0px;
  width: 150px; /* Reduced width */
  height: 100vh;
  background: #1e1e2d; /* Dark background */
  color: #ffffff; /* White text */
  transition: width 0.3s ease-in-out;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 0;
  left: 0;
  box-shadow: 4px 0 10px rgba(0, 0, 0, 0.1);
}

.menu-item.active {
  i {
    color: #0f84f1;
  }
  background: #29293d;
  color: #0f84f1; /* Same as hover color */
}
//jaune;#f1c40f
.sidebar.collapsed {
  width: 60px; /* Reduced collapsed width */
}

.toggle-btn {
  background: none;
  border: none;
  color: #ffffff; /* Make button visible */
  font-size: 16px; /* Reduced from 22px */
  cursor: pointer;
  padding: 10px; /* Reduced padding */
  position: absolute;
  top: 8px;
  left: 8px;
  transition: left 0.3s ease-in-out;
}

.sidebar.collapsed .toggle-btn {
  left: 8px;
}

.menu {
  list-style: none;
  padding: 0;
  margin-top: 50px; /* Reduced margin from 60px */
}

.menu-item {
  display: flex;
  align-items: center;
  padding: 10px; /* Reduced padding */
  text-decoration: none;
  color: #ffffff; /* White text for visibility */
  font-size: 14px; /* Reduced font size */
  transition: background 0.3s, color 0.3s;
  border-radius: 8px;
  margin: 4px; /* Reduced margin */
}

.menu-item:hover {
  background: #29293d;
  color: #0f84f1; /* Gold on hover */
}

.icon {
  font-size: 16px; /* Reduced from 20px */
  margin-right: 8px; /* Reduced from 15px */
  color: #ffffff; /* Ensuring icons are white */
}

.sidebar.collapsed .icon {
  margin: 0 auto;
}

.text {
  transition: opacity 0.3s ease-in-out;
}

.logout {
  margin-top: auto;
  /* Adjust the logout position if needed */

}
