<div class="cars-container">
    <mat-card *ngFor="let car of cars" class="car-card">
      <div class="car-image-container">
        <img [src]="'http://localhost:8080/api/cars/image/' + (car.imagePath || 'default-car.png')" alt="{{ car.carName }}" class="car-image" />
      </div>
  
      <div class="car-details">
        <div class="price">
          <h2>{{ car.pricePerDay }} DH</h2>
          <p>/ jour</p>
        </div>
  
        <h3 class="car-name">{{ car.carName }}</h3>
        <p class="brand">{{ car.brandName }}</p>
  
        <div class="car-info">
          <span><mat-icon>directions_car</mat-icon> {{ car.modelYear }}</span>
          <span><mat-icon>category</mat-icon> {{ car.carType }}</span>
          <span><mat-icon>attach_money</mat-icon> {{ car.pricePerDay }}/h</span>
        </div>
  
        <div class="location">
          <mat-icon>location_on</mat-icon>
          <span> Downtown Rental </span>
        </div>
  
        <div class="actions">
          <button mat-flat-button color="primary" (click)="editCar(car)">
            <mat-icon>edit</mat-icon> Modifier
          </button>
          <button mat-flat-button color="warn" (click)="deleteCar(car.id)">
            <mat-icon>delete</mat-icon> Supprimer
          </button>
        </div>
      </div>
    </mat-card>
  </div>
  